/* From Material Theme Builder */
:root {
  --md-source: #bb0011;
  /* primary */
  --colors-primary0: #000000;
  --colors-primary10: #410002;
  --colors-primary20: #690005;
  --colors-primary25: #7e0008;
  --colors-primary30: #93000b;
  --colors-primary35: #a9000e;
  --colors-primary40: #bf0614;
  --colors-primary50: #e42c2a;
  --colors-primary60: #ff544a;
  --colors-primary70: #ff897d;
  --colors-primary80: #ffb4ab;
  --colors-primary90: #ffdad6;
  --colors-primary95: #ffedea;
  --colors-primary98: #fff8f7;
  --colors-primary99: #fffbff;
  --colors-primary100: #ffffff;
  /* secondary */
  --colors-secondary0: #000000;
  --colors-secondary10: #2c1513;
  --colors-secondary20: #442926;
  --colors-secondary25: #513431;
  --colors-secondary30: #5d3f3c;
  --colors-secondary35: #6a4b47;
  --colors-secondary40: #775652;
  --colors-secondary50: #926f6a;
  --colors-secondary60: #ad8883;
  --colors-secondary70: #caa29d;
  --colors-secondary80: #e7bdb8;
  --colors-secondary90: #ffdad6;
  --colors-secondary95: #ffedea;
  --colors-secondary98: #fff8f7;
  --colors-secondary99: #fffbff;
  --colors-secondary100: #ffffff;
  /* tertiary */
  --colors-tertiary0: #000000;
  --colors-tertiary10: #261900;
  --colors-tertiary20: #3f2e04;
  --colors-tertiary25: #4b390e;
  --colors-tertiary30: #584419;
  --colors-tertiary35: #644f23;
  --colors-tertiary40: #715b2e;
  --colors-tertiary50: #8c7444;
  --colors-tertiary60: #a78d5b;
  --colors-tertiary70: #c3a873;
  --colors-tertiary80: #e0c38c;
  --colors-tertiary90: #fddfa6;
  --colors-tertiary95: #ffefd5;
  --colors-tertiary98: #fff8f2;
  --colors-tertiary99: #fffbff;
  --colors-tertiary100: #ffffff;
  /* neutral */
  --colors-neutral0: #000000;
  --colors-neutral10: #201a19;
  --colors-neutral20: #362f2e;
  --colors-neutral25: #413a39;
  --colors-neutral30: #4d4544;
  --colors-neutral35: #59504f;
  --colors-neutral40: #655c5b;
  --colors-neutral50: #7f7574;
  --colors-neutral60: #998e8d;
  --colors-neutral70: #b4a9a7;
  --colors-neutral80: #d0c4c2;
  --colors-neutral90: #ede0de;
  --colors-neutral95: #fbeeec;
  --colors-neutral98: #fff8f7;
  --colors-neutral99: #fffbff;
  --colors-neutral100: #ffffff;
}

@media (prefers-color-scheme: light) {
  :root {
    --colors-primary: var(--colors-primary70);

    --colors-accent: var(--colors-neutral95);
    --colors-accent-variant: var(--colors-neutral80);
    --colors-accent-text: var(--colors-neutral0)

    
  }
}

@media (prefers-color-scheme: dark) {

}