/* General Document Styles */
body {
  font-family: "Lato", sans-serif;
}

.desktop-hide {
  display: none;
}

@media screen and (max-width: 700px) {
  .mobile-hide {
    display: none;
  }

  .desktop-hide {
    display: block;
  }
}

/* Header */
header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: var(--colors-accent);
  color: var(--colors-accent-text);
  z-index: 10;
  height: 44px;
}

header a {
  padding: 10px;
  color: var(--colors-accent-text);
  text-decoration: none;
}

header a:hover {
  background: var(--colors-accent-variant);
}

header nav {
  display: flex;
}

header nav .navToggle {
  margin-left: auto;
}

header div {
  display: none;
}

header div a {
  width: 100%
}

header div.show {
  display: flex;
}

@media screen and (min-width: 701px) {
  header div.show {
    display: none
  }
}

section {
  height: 98vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Intro section */
.intro {
  margin-top: 54px;
}

.intro img {
  height: 200px;
  width: 200px;
}

/* Events section */
.events .events__container {
  display: flex;
  gap: 10px;
}


/* Footer */
footer {
  background-color: var(--colors-primary);
  text-align: center;
  padding: 20px;
}

footer div, footer ul {
  width: min-content
}
